#introduction {
    text-align: center;
}
#subBox{
    text-align: center;
}
#Quiz{
    text-align: center;
}
body{
    background-color: green
}
#sunny{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}